<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- HEADER -->
<header th:fragment="header">
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> Sair</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty" th:text="${carrinho != null ? carrinho.getComputadores().size() : 0}"></div>
                            </a>
                            <div class="cart-dropdown"  th:if="${carrinho}" >
                                <div class="cart-list" th:each="computador : ${carrinho.getComputadores()}">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img th:src="${computador.imageUri}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name" th:text="${computador.nome}"><a href="#"></a></h3>
                                            <h4 class="product-price">
                                                <span th:text="${computador.qtd} + 'x'"></span>
                                                <span th:text="'R$' + ${#numbers.formatDecimal(computador.preco, 2, 2)}"></span>
                                            </h4>
                                        </div>
                                        <button class="delete"  th:onclick="'window.location.href=\'/removerItemCarrinho/' + ${computador.id} + '\';'"><i class="fa fa-close"></i></button>

                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small th:text="${carrinho.getComputadores().size()} + ' Item(s) selecionados'"> </small>
                                    <h5 th:text="'SUBTOTAL: R$'  + ${carrinho.totalCompra()}"></h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="/verCarrinho">Ver Carrinho</a>
                                    <a href="/finalizarCompra">Comprar <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

</body>
</html>