<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head::head"> </div>
<body>

<div th:replace="fragments/header::header"> </div>




 <h3 class="title">Cadastro de Computadores</h3>

<form th:object="${computador}" method="post" th:action="@{/salvar}" enctype="multipart/form-data">

    <input type="hidden" name="isEdit" value="false" />
    <input type="hidden" th:field="*{id}" />
    <div class = "form-group">
        Nome do PC : <input type="text" th:field="*{nome}"placeholder="Nome do PC" />
    </div>
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" style="color: red"> </span> <br />
    <div class = "form-group">
        Preço do Computador : <input type="number" step="0.01" min="0" th:field="*{preco}"placeholder="Preço" /><br />
    </div>
    <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}" style="color: red"> </span> <br />
    <div class="form-group ">
         categoria: <input type="text" th:field="*{categoria}" placeholder="Categoria" /><br />
    </div>
    <span th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" style="color: red"> </span> <br />
    <div class = "form-group">
        Quantidade em Estoque:<input type="number" th:field="*{qtd}"placeholder="Quantidade" /><br />
    </div>
    <span th:if="${#fields.hasErrors('qtd')}" th:errors="*{qtd}" style="color: red"> </span> <br />
    <div class="form-group ">
         Imagem : <input type="file" name="file" required />
    </div>
    <span th:if="${#fields.hasErrors('imageUri')}" th:errors="*{imageUri}" style="color: red"> </span> <br />
    <button type="submit">Cadastrar</button>
</form>
<div th:replace="fragments/footer::footer"> </div>
    <div th:replace="fragments/scripts::scripts"></div>
</body>
</html>